<?xml version="1.0" encoding="utf-8"?>
<TxSite name="CRM" type="Txooo.Web.TxSite">

  <DefaultSkin type="Txooo.Web.TxSkin">
    <ImagePath>/Images/</ImagePath>
    <CssPath>/Css/</CssPath>
    <JsPath>/Js/</JsPath>
    <TemplatePath>/PC/</TemplatePath>
  </DefaultSkin>
  <!--默认页面处理程序-->
  <DefaultPage type="Txooo.Web.Htmx.HtmxPage">
    <Output way="None" time="600" location="Server" custom="host" header="" param="" />
    <Handler type="Txooo.CRM.SiteDefaultPage" />
    <Parsers>
      <add type="Txooo.Web.Parse.TemplateParser" />
      <add type="Txooo.Web.Parse.VariableParser" />
      <add type="Txooo.Web.Parse.TemplateParser" />
      <add type="Txooo.Web.Parse.VariableParser" />
    </Parsers>
  </DefaultPage>

  <!--<TxPage type="Txooo.Web.Htmx.HtmxPage">
    <MappedRegexStr>^/wenda/StorageList_(\d+)_(\d+)_(\d+)_(\d+).htm</MappedRegexStr>
    <PageTemplate>/wenda/StorageList.html</PageTemplate>
    <Handler type="Txooo.Main.Question.Page.StorageHandler" />
    <Variables>
      <add key="Category" value="$1"/>
      <add key="Pid" value="$2"/>
      <add key="Orders" value="$3"/>
      <add key="CurrentPage" value="$4"/>
    </Variables>
  </TxPage>-->

</TxSite>