<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" maxRequestLength="10240" executionTimeout="6000" />
  </system.web>
  <system.webServer>
    <modules>
      <!--<add name="TxDebugModule" type="Txooo.Web.TxDebugModule" preCondition=""  />-->
      <!--<add name="TxSecurityModule" type="Txooo.Web.Security.TxSecurityModule" />-->
      <add name="TxHtmxModule" type="Txooo.Web.Htmx.HtmxModule" preCondition="" />
      <!--<add name="TxWebLogModule" type="Txooo.Web.Module.TxWebLogModule" preCondition=""/>-->
    </modules>
    <handlers>
      <add name="Tx-Root" path="/" verb="*" type="Txooo.Web.Htmx.HtmxFactory" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="integratedMode" responseBufferLimit="4194304" />
      <add name="Tx-Path" path="*/" verb="*" type="Txooo.Web.Htmx.HtmxFactory" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="integratedMode" responseBufferLimit="4194304" />
      <add name="Tx-Html" path="*.html" verb="*" type="Txooo.Web.Htmx.HtmxFactory" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="integratedMode" responseBufferLimit="4194304" />
      <add name="Tx-Htmx" path="*.htmx" verb="*" type="Txooo.Web.Htmx.HtmxFactory" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="integratedMode" responseBufferLimit="4194304" />
      <add name="Tx-Htme" path="*.htme" verb="*" type="Txooo.Web.Htmx.HtmxFactory" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="integratedMode" responseBufferLimit="4194304" />
      <add name="Tx-Htms" path="*.htms" verb="*" type="Txooo.Web.Htmx.HtmxFactory" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="integratedMode" responseBufferLimit="4194304" />
      <add name="Tx-Htmd" path="*.htmd" verb="*" type="Txooo.Web.Htmx.HtmxFactory" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="integratedMode" responseBufferLimit="4194304" />
      <add name="Tx-Htmn" path="*.htmn" verb="*" type="Txooo.Web.Htmx.HtmxFactory" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="integratedMode" responseBufferLimit="4194304" />
      <add name="Tx-Htmc" path="*.htmc" verb="*" type="Txooo.Web.Htmx.HtmxFactory" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="integratedMode" responseBufferLimit="4194304" />
      <add name="Tx-Ajax" path="*.ajax" verb="*" type="Txooo.CRM.SiteAjaxFactory" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="integratedMode" responseBufferLimit="4194304"/>
    </handlers>
        <staticContent>         
            <mimeMap fileExtension=".woff2" mimeType="font/x-woff" />           
        </staticContent>
  </system.webServer>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SysSmsServiceSoap" />
        <binding name="VerifyServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://internalservice.txooo.com/SysSmsService.asmx" binding="basicHttpBinding" bindingConfiguration="SysSmsServiceSoap" contract="TxSysSmsService.SysSmsServiceSoap" name="SysSmsServiceSoap" />
      <endpoint address="http://iws.open.txooo.com/Internal/V1/VerifyService.asmx" binding="basicHttpBinding" bindingConfiguration="VerifyServiceSoap" contract="TxVerifyService.VerifyServiceSoap" name="VerifyServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>